default_cluster = "dev"

[clusters.dev]
brokers = ["127.0.0.1:9092"]

[clusters.test]
brokers = ["example.com:9092"]

[clusters.test.tls]
insecure = true
cafile = "/path/to/ca/file"

[clusters.test.sasl]
mechanism = "PLAIN"
username = "username"
password = "password"
